.panel_principal {
    -fx-background-image: url("../imagenes/PaneCentro.jpg");
}

.panel_izquierdo {
    -fx-background-image: url("../imagenes/estrellam.jpg");
    -fx-background-color: SlateBlue;
}

.panel_derecha {
    -fx-background-color: SlateBlue;
}

.panel_personal_salud {
    -fx-background-color: Teal;    
}

.panel_inferior {
    -fx-background-color: #1d1d1d;
}

.panel_login {
    -fx-background-color: darkslategray;
}

.body {
    background: #263c53;
    font-size:16px;
    line-height: 20px;
    color: #ffffff;
    word-wrap:break-word !important;
    font-family: 'Open Sans', sans-serif;
    }

.cbx-cuerpo{
   -fx-background-color:linear-gradient( darkslategray, white);
    -fx-font: bold 14px italic;
    -fx-text-fill: white;
 
}


.lbl-cuerpo{
    //-fx-background-color: white;
    -fx-font: bold 14px italic;
    -fx-text-fill: white;
    //-fx-background-color:linear-gradient( darkslategray, brown);
 
}

.lbl-titulo2{
    -fx-background-color:linear-gradient( darkslategray, teal);
    -fx-font: bold 24px italic;
    -fx-text-fill: white;
}

.lbl-titulo{
    -fx-background-color: SlateBlue;
    -fx-font: bold 24px italic;
    -fx-text-fill: white;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );

}
/*Estilos para los botones

.bt_crear {
     -fx-background-image: url("../imagenes/btGuardar.png");
}*/

.button{
    -fx-text-fill: white;
    -fx-alignment: center;
    /*-fx-background-color:linear-gradient( black, brown);*/
    -fx-background-color:linear-gradient( deepskyblue, darkslategray);
    -fx-font: bold 14px italic;
}

/* Estilo cuando se posiciona el ratón sobre cualquier botón */
.button:hover {
    -fx-font-size: 16px;

}

.button-tabla{
    -fx-text-fill: white;
    -fx-alignment: center;
    /*-fx-background-color:linear-gradient( black, brown);*/
    -fx-background-color:linear-gradient( deepskyblue, darkslategray);
    -fx-font: bold 10px italic;
}

/* Estilo cuando se posiciona el ratón sobre cualquier botón */
.button-tabla:hover {
    -fx-font-size: 12px;

}


.text-field{

    -fx-background-radius: 6px;
}


.menu-bar {
    -fx-background-color: derive(#1d1d1d,50%);
}

.context-menu {
    -fx-background-color: derive(darkslategray,50%);
}

.menu-bar .label {
    -fx-font-size: 12pt;
    -fx-font-family: "bold italic";
    -fx-text-fill: white;
    //-fx-opacity: 0;
}

.menu .left-container {
    -fx-background-color: darkslategray;
}

// formato para las celdas del tableview
.table-cell {     
    -fx-padding: 0.5em 0.5em 0.1em 0.3em;
    -fx-border-color: -fx-box-border -fx-box-border transparent transparent;  
    -fx-font: 13px "bold italic"; 
    -fx-text-fill: black; 
    -fx-border-insets: 0;
}

// color de fondo para cuando el raton este sobre la celda
/*.table-cell:hover {
    -fx-background-color: #9900ff;
}*/

// color para filas vacias, 
// aplicar el mismo color cuando el raton este sobre una celda de una fila vacia  
.table-row-cell:empty, .table-cell:empty:hover {
    -fx-background-color: whitesmoke;
}
 
// eliminar borde de celdas en las filas vacias
.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

// color de una fila cuando en raton se encuentra sobre la misma  
.table-view:row-selection .table-row-cell:filled:hover { 
    -fx-background-color: rgba(28, 183, 236, 0.25);
}

// color de una fila cuando en raton se encuentra sobre una fila que esta seleccionada
.table-view:row-selection .table-row-cell:filled:selected:hover { 
    -fx-background-color: darkslategray;
}

// color de una fila seleccionada por el usuario
.table-view:row-selection .table-row-cell:filled:selected { 
    -fx-background-color: rgba(28, 183, 236, 0.65);
}

// eliminar border del table que aparece cuando el mismo tiene el foco
.table-view, .table-view:focused {
  -fx-background-color: transparent,-fx-box-border,-fx-control-inner-background;
  -fx-background-insets: -1.4, 0, 1;
  -fx-background-radius: 1.4, 0, 0;
}
 
// centrar y cambiar color de los titulos de columnas
.table-view .column-header .label{
    -fx-text-fill: black;
    -fx-alignment: CENTER;
}

// color de fondo del titulo de columna cuando en roton esta sobre ella
.table-view .column-header:hover {
    -fx-background-color: whitesmoke;
}

// tamaño, bordes y color de fondo de los titulos
.table-view .column-header, .table-view .filler {
    -fx-background-color: white;    
    -fx-size: 38;
    -fx-border-color: -fx-box-border;
    -fx-border-width: 0 1 1 0;
    -fx-border-insets: 0;
}

// hacer transparente el fondo de los titulos
.table-view .column-header-background {
    -fx-background-color: transparent;
}

// estylo para el boton que permite ocultar o mostrar las columnas
.table-view .show-hide-columns-button {
    -fx-background-color: white;
    -fx-border-color: -fx-box-border;
    -fx-border-insets: 0;
}